<h1>New user</h1>

<%= flash[:notice] %>
<%= flash[:error] %>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>



          <% form_for :user,@user,:url => { :action => "create",:controller => "users" } do |f| %>
            <%= oauth_register_button :value => "Login with Twitter account" %> 
          <% end %>
          
          
          <% form_for :user,@user,:url => { :action => "openidlogin",:controller => "users" } do |f| %>
            Open ID <%= text_field_tag :openid_identifier %>
            <%= f.submit 'Log in' %>
          <% end %>

<%= link_to 'Back', users_path %>

<% #This is a test to put up to a fork %>
